<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        OOPS, Sorry Page Not Found
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>