<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Welcome to our MERN Stack Blog Website - your destination for insightful articles, engaging stories, and a platform to express ideas. </p>
        <p>Our vision is to empower individuals to share their thoughts, experiences, and expertise with the world. and through our MERN Stack Blog Website</p>
        <p>We chose the MERN (MongoDB, Express.js, React, Node.js) stack for its versatility and efficiency in building modern web applications.</p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>