<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a HTML File</title>
</head>
<body>
    <h1>This is a HTML File</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus tenetur natus exercitationem, repellendus officiis quos, deleniti reiciendis quia totam nisi numquam laborum quidem eaque pariatur? Accusamus consectetur animi deleniti itaque.
    <h4>This is h4 file of html</h4>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About Page</a>
    </nav>
</body>
</html>